body {
	background-color: blue;
}
h1 {
	text-align: center;
	font-size: 60px;
	color: red;
}

h2, h2 {
	text-align: center;
	font-size: 30px;
}
p {
	text-align: justify;
	font-size: 25px;
}

#imagem_principal {
	width: 20%;
	
}